<EditForm Model="@custEnquiry" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Enquiry Description: </label>
        <div>
            <InputTextArea @bind-Value="@custEnquiry.EnquiryDesc" class="form-control" />
            <ValidationMessage For="@(() => custEnquiry.EnquiryDesc)" />
        </div>
    </div>

    <div class="form-group">
        <label>Enquiry Type: </label>
        <div>
            <InputSelect @bind-Value="custEnquiry.EnquiryType" class="form-control">
                <option value="">-- Select Department --</option>

                @if (ETypeList != null)
                {
                    foreach (var department in ETypeList)
                    {
                        <option value="@department">@department</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => custEnquiry.EnquiryType)" />
        </div>
    </div>

    <div class="form-group">
        <label>Updated By: </label>
        <div>
            <InputText @bind-Value="@custEnquiry.UpdatedBy" class="form-control" />
            <ValidationMessage For="@(() => custEnquiry.UpdatedBy)" />
        </div>
    </div>

    @*  <div class="form-group">
    <label>Resolved: </label>
    <div>
    <InputCheckbox @bind-Value="@custEnquiry.Resolved" class="form-check-input" />
    <ValidationMessage For="@(() => custEnquiry.Resolved)" />
    </div>
    </div> *@

    <div class="form-group">
        <label>Customer ID: </label>
        <div>
            <InputNumber @bind-Value="@custEnquiry.CustomerId" class="form-control" />
            <ValidationMessage For="@(() => custEnquiry.CustomerId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Staff ID: </label>
        <div>
            <InputNumber @bind-Value="@custEnquiry.StaffId" class="form-control" />
            <ValidationMessage For="@(() => custEnquiry.StaffId)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>

    <BackToList Target="custEnquiries" />

</EditForm>

@code {

    List<string> ETypeList = new List<string> { "Refund", "Product Fault", "Product Availability" };
    [Parameter] public CustEnquiry? custEnquiry { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
