@page "/cart/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@attribute [Authorize]
@using System.Linq;

@if(tempCarts == null)
{
	@if (custCart.Count == 0)
	{
		<div class="alert alert-info">Loading Cart...</div>
	}	
}
else
{
	@if (filteredSoftwareCarts.Count != 0)
	{
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Game(s)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var custCartItem in custCart)
				{
					@if (@custCartItem.ProductHardwareId == null)
					{
						<tr>
							<td>@custCartItem.ProductSoftware.sthumbnail</td>
							<td>@custCartItem.ProductSoftware.sTitle</td>
							<td>$@custCartItem.ProductSoftware.sPrice</td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
	@if (filteredHardwareCarts.Count != 0)
	{
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Accessorie(s)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var custCartItem in custCart)
				{
					@if (@custCartItem.ProductSoftwareId == null)
					{
						<tr>
							<td>@custCartItem.ProductHardware.hthumbnail</td>
							<td>@custCartItem.ProductHardware.hTitle</td>
							<td>$@custCartItem.ProductHardware.hPrice</td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
	<button class="btn btn-primary" @onclick="CheckOut">Check Out</button>
}

@code {
	private List<TempCart>? filteredSoftwareCarts;
	private List<TempCart>? filteredHardwareCarts;
	private List<TempCart>? tempCarts;
	private List<TempCart>? custCart = new List<TempCart>();
	private List<Customer>? customers;
	private List<CustOrder>? custOrders;
	CustOrder? custOrder = new CustOrder();
	private int CustId;

	protected async override Task OnInitializedAsync()
	{
		customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
		tempCarts = await _client.GetFromJsonAsync<List<TempCart>>($"{Endpoints.TempCartsEndpoint}");
		
		var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
		var user = authstate.User;
		var name = user.Identity.Name;

		foreach (var customer in customers)
		{
			if (customer.Email == name)
			{
				CustId = customer.Id;
			}
		}

		if (tempCarts != null)
		{
			foreach (var tempcart in tempCarts)
			{
				if (tempcart.CustomerId == CustId)
				{
					custCart.Add(tempcart);
				}
			}
		}

		filteredSoftwareCarts = custCart.Where(c => c.ProductHardwareId == null).ToList();
		filteredHardwareCarts = custCart.Where(c => c.ProductSoftwareId == null).ToList();
	}

	private async Task CheckOut()
	{
		custOrder.OrderDateTime = DateTime.Now;
		custOrder.CustomerId = CustId;
		await _client.PostAsJsonAsync(Endpoints.CustOrdersEndpoint, custOrder);
		custOrders = await _client.GetFromJsonAsync<List<CustOrder>>($"{Endpoints.CustOrdersEndpoint}");
		foreach(var custCartItem in custCart)
		{
			CustOrderItem? custOrderItem = new CustOrderItem();
			custOrderItem.CustOrderId = custOrders.Count;

			if(custCartItem.ProductSoftwareId == null)
			{
				custOrderItem.ProductHardwareId = custCartItem.ProductHardwareId;
			}
			if (custCartItem.ProductHardwareId == null)
			{
				custOrderItem.ProductSoftwareId = custCartItem.ProductSoftwareId;
			}
			custOrderItem.Qty = custCartItem.Quantity;
			await _client.PostAsJsonAsync(Endpoints.CustOrderItemsEndpoint, custOrderItem);
			await _client.DeleteAsync($"{Endpoints.TempCartsEndpoint}/{custCartItem.Id}");
		}
		_navManager.NavigateTo("/store/");
	}

	
}
