<EditForm Model="@custOrder" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Order Date and Time: </label>
        <InputDate @bind-Value="@custOrder.OrderDateTime" class="form-control" />
        <ValidationMessage For="@(() => custOrder.OrderDateTime)" />
    </div>

    <div class="form-group">
        <label>Customer ID: </label>
        <InputNumber @bind-Value="@custOrder.CustomerId" class="form-control" />
        <ValidationMessage For="@(() => custOrder.CustomerId)" />
    </div>

    <div class="form-group">
        <label>Staff ID: </label>
        <InputNumber @bind-Value="@custOrder.StaffId" class="form-control" />
        <ValidationMessage For="@(() => custOrder.StaffId)" />
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>

    <BackToList Target="custOrders" />
</EditForm>

@code {

    [Parameter] public CustOrder? custOrder { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
