@page "/staffs/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize
]
<h3 class="card-title">Staff Creation</h3>
<a href="/staffs/create" class="btn btn-secondary">
	<span class="oi oi-plus"></span>
	Create New Staff
</a>
<br />
<br />
<h3 class="card-title">Staff</h3>

@if(Staffs == null)
{
	<div class="alert alert-info">Loading Staff...</div>
}
else
{
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Department</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var staff in Staffs)
			{
				<tr>
					<td>@staff.Name</td>
					<td>@staff.Email</td>
					<td>@staff.Department</td>
					<td>@staff.Role</td>
					<td>
						<a href="/staffs/view/@staff.Id" class="btn btn-primary">
							<span class="oi oi-book"></span>	
						</a>
						<a href="/staffs/edit/@staff.Id" class="btn btn-warning">
							<span class="oi oi-pencil"></span>	
						</a>
						<button class="btn btn-danger" @onclick="@(()=>Delete(staff.Id))">
							<span class="oi oi-delete"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Staff>? Staffs;

	protected async override Task OnInitializedAsync()
	{
		Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
	}

	async Task Delete(int StaffId)
	{
		if(Staffs != null)
		{
			var staff = Staffs.First(q => q.Id == StaffId);
			var confirm = await js.InvokeAsync<bool> ("confirm", $"Do you want to delete {staff.Name}?");
			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.StaffsEndpoint}/{StaffId}");
				await OnInitializedAsync();
			}
		}
	}
}
